styles.css <link rel="stylesheet" href="https://use.typekit.net/elz8xfn.css"/>section 
  background: #f4c3cc;
  height: 100%;


html {
  background-color: #f4c3cc;
}

body {
  font-family: aileron;
  font-size: 16pt;
  text-align: left;
  color: red;
}

h1 {
  font-family: mencken-std-head-compress;
  font-size: 100pt;
  color: red;
  stroke: black;
  stroke: 2pt;
  -webkit-text-stroke: 0.5px black;
  text-align: center;
}

a {
  font-family: mencken-std-head-compress;
  font-size: 50pt;
  color: red;
  stroke: black;
  -webkit-text-stroke: 0.5px black;
  text-align: center;
  text-decoration: none;
  link-align: center;
}

p {
  text-align: center;
}


.column {
  float: right;
  width: 50%;

}

.column img {
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0px;
  scale: 25%;
}


.row {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: wrap;
}

.images {
  width: 100%;
  height: 100%;
  float: left;
  background-color: #f4c3cc;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

.nav {
  width: 100%;
  height: 100%;
  float: right;
  background-color: #f4c3cc;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.example {
  -webkit-scrollbar: none;
    display: none;
  }

  .sticky {
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0px;
  }

  .column {
    float: right;
    width: 50%;
    padding 10px;
  }

  .column img {
    margin-top: 12px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }

  /* Hide the images by default */
  .mySlides {
    display: none;
  }

  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 6px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active,
  .dot:hover {
    background-color: #717171;
  }

  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {
      opacity: .4
    }

    to {
      opacity: 1
    }
  }

  @keyframes fade {
    from {
      opacity: .4
    }

    to {
      opacity: 1
    }
  }

  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
      font-size: 5px
    }
  }